body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100vh;
    background-size: cover;
    background-image: url(back.jpg);
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Prevent scrolling on smaller screens */
}

.snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px; /* Adjust the size of the snowflakes */
    height: 15px; /* Adjust the size of the snowflakes */
    background-image: url(snowio.jpeg);
    background-size: cover;
    background-color: transparent;
    border-radius: 50%;
    animation: animationSnow 4s ease-in-out infinite;
}

@keyframes animationSnow {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(100vw, 50vh); /* Use vw (viewport width) instead of a fixed pixel value */
    }
}


/* body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    display: flex;
    background-image: url(back.jpg);
    font-family: 'Arial', sans-serif;
}

.snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url(snowio.jpeg);
    background-size: cover;
    background-color: transparent;
    border-radius: 50%;
    animation: animationSnow 4s ease-in-out infinite;
}

@keyframes animationSnow {
    0% {
        transform: translate(0px, 0px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(100px, 50vh);
    }
}
 */
